:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
    }

    #current-poll-div p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px;
    }

    .new-poll p {
        display: inline-flex;
    }

    #voting-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #option-one-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #option-two-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #posted-poll-container {
        display: flex;
        background: rgb(70, 131, 211);
    }

    input {
        font-size: 1.2rem;
    }

    .buttons {
        display: flex;
        width: 80px;
        height: auto;
        border-radius: 5px;
    }

    #new-poll-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: blueviolet;
        width: 50%;
    }

    h1 {
        font-family: 'Courier One', serif;
        color: green;
        box-shadow: 1px 12px 15px -13px 65%;
    }